@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@keyframes borderScroll {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: rgb(209, 6, 209);
  }
  50% {
    border-color: blue;
  }
  75% {
    border-color: purple;
  }
  100% {
    border-color: transparent;
  }
}

.animate-borderScroll {
  animation: borderScroll 2s infinite;
}
